<!DOCTYPE html> 
<html xml:lang="en">

<head>
  <title>Paul van Bommel </title>
    <meta name="keywords" content="TjiiTake " />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=9" />
  <link rel="stylesheet" type="text/css" href="style.css" />
  <script type="text/javascript" src="jquery.min.js"></script>
  <script type="text/javascript" src="image_slide.js"></script>
</head>

<body>
  <div id="main">

	<div id="menubar">
	  <div id="welcome">
    <h1><img src="logo.svg" alt="Logo Bois de Combier" width='230' height="50" align="left" /></h1>
    </div><!--close welcome-->

	  
      <div id="menu_items">
	    <ul id="menu">
          <li class="current"><a href="/">Accueil</a></li>
          <li><a href="produits">Produits</a></li>
          <li><a href="recettes">Recettes</a></li>
          <li><a href="vente">Vente </a></li>
          <li><a href="stage">Stage </a></li>
          <li><a href="contact">Contact </a></li>
      </ul>
      </div><!--close menu-->
    </div><!--close menubar-->	
    
	<div id="site_content">		

	  <div class="sidebar_container">       
		<div class="sidebar">
          <div class="sidebar_item">
            <h2>Bois de Combier</h2>
            <p>Bois de Combier est une ferme biologique specialise dans la culture de Shiitake situe en Ardèche</p>
          </div><!--close sidebar_item--> 
        </div><!--close sidebar-->     		
		<div class="sidebar">
          <div class="sidebar_item">
            <h2>Derniere nouvelle </h2>
            <h3>Octobre 2015</h3>
            <p>Lancement du site internet</p>         
		  </div><!--close sidebar_item--> 
        </div><!--close sidebar-->
		<div class="sidebar">
          <div class="sidebar_item">
            <h3>Mai 2015</h3>
            <p>Semence de 400 buches avec des varites diferentes.</p>         
		  </div><!--close sidebar_item--> 
        </div><!--close sidebar-->  
		<div class="sidebar">
          <div class="sidebar_item">
            <h3>Novembre 2014</h3>
            <p>Premiere semences de 100 buches</p>         
		  </div><!--close sidebar_item--> 
        </div><!--close sidebar-->  		
        <div class="sidebar">
          <div class="sidebar_item">
            <h2>Contact</h2>
             <p>Email: <a href="mailto:boisdecombier@gmail.com">boisdecombier@gmail.com</a></p>
            <p> Siret: 12345</p>
          </div><!--close sidebar_item--> 
        </div><!--close sidebar-->
       </div><!--close sidebar_container-->	
	
      <div class="slideshow">  
		<ul class="slideshow">
          <li class="show"><img width="680" height="400" src="home_6.jpg" alt="&quot;Une délice d'Ardéche &quot;" /></li>
          <li><img width="680" height="400" src="home_1.jpg" alt="&quot;Une culture sur des bûches de chêne&quot;" /></li>
          <li><img width="680" height="400" src="home_2.jpg" alt="&quot;Un produit de terroir très bon pour votre santé &quot;" /></li>
        </ul>  	
	  </div><!--close slideshow-->  	 
	 
	  <div id="content">
        <div class="content_item">
		  <h1>Accueil</h1> 
	      <p>Bois de Combier est fonde en 2014 par  Paul et Mirjam van Bommel. L' exploitation est entièrement classe en agriculture biologique. Bois de Combier est situe sur la commune de Desaignes en Ardèche.

L exploitation a une hectare du champs, qui a servi en 2014 pour une culture de pomme de terres. Actuellement le champs est utilise pour une culture de la luzerne et fois.
Tout près le champs il y a aussi 4 hectares du bois. La culture principale dans le bois c' est la culture de shiitakes. Les bois est en petit échelle également exploiter pour la castanéiculture et la production du bois de chauffage.  </p>	  
		  <div class="content_container">
		    <p><font color="grey">.</font></p>
		  	
		    </div><!--close button_small-->
		  </div><!--close content_container-->
          <div class="content_container">
		    <p>Nous travaillons beaucoup avec d'autres agriculteurs local et nous faisons des échanges. Avec une GAEG a Lamastre nous avons formaliser notre façon de travailler dans une forme d' entre-aide officielle.</p>          
		  	
		    </div><!--close button_small-->		  
		  </div><!--close content_container-->			  
		</div><!--close content_item-->
      </div><!--close content-->   
	</div><!--close site_content--> 
    
	
 
  </div><!--close main-->
  
  <div id="footer">
    <a href="http://nu.nl"> © Paul van Bommel 2015</a>   </a>
  </div><!--close footer-->  
  
</body>
</>

