<!DOCTYPE html> 
<html xml:lang="en">

<head>
  <title>Paul van Bommel </title>
    <meta name="keywords" content="TjiiTake " />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=9" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/image_slide.js"></script>
</head>

<body>
  <div id="main">

  <div id="menubar">
    <div id="welcome">
    <h1><img src="images/logo.svg" alt="Logo Bois de Combier" width='230' height="50" align="left" /></h1>
    </div><!--close welcome-->

    
      <div id="menu_items">
      <ul id="menu">
          <li class="current"><a href="index.html">Accueil</a></li>
          <li><a href="produits.html">Produits</a></li>
          <li><a href="recettes.html">Recettes</a></li>
          <li><a href="vente.html">Vente </a></li>
          <li><a href="stage.html">Stage </a></li>
          <li><a href="contact.html">Contact </a></li>
          

        </ul>
      </div><!--close menu-->
    </div><!--close menubar-->  
    
  <div id="site_content">   

    <div class="sidebar_container">       
    <div class="sidebar">
          <div class="sidebar_item">
            <h2>Bois de Combier</h2>
            <p>Bois de Combier est une ferme biologique specialise dans la culture de Shiitake situe en Ardèche</p>
          </div><!--close sidebar_item--> 
        </div><!--close sidebar-->        
    <div class="sidebar">
          <div class="sidebar_item">
            <h2>Derniere nouvelle </h2>
            <h3>Octobre 2015</h3>
            <p>Lancement du site internet</p>         
      </div><!--close sidebar_item--> 
        </div><!--close sidebar-->
    <div class="sidebar">
          <div class="sidebar_item">
            <h3>Mai 2015</h3>
            <p>Semence de 400 buches avec des varites diferentes.</p>         
      </div><!--close sidebar_item--> 
        </div><!--close sidebar-->  
    <div class="sidebar">
          <div class="sidebar_item">
            <h3>Novembre 2014</h3>
            <p>Premiere semences de 100 buches</p>         
      </div><!--close sidebar_item--> 
        </div><!--close sidebar-->      
        <div class="sidebar">
          <div class="sidebar_item">
            <h2>Contact</h2>
            <p>Email: <a href="mailto:boisdecombier@gmail.com">boisdecombier@gmail.com</a></p>
          </div><!--close sidebar_item--> 
        </div><!--close sidebar-->
       </div><!--close sidebar_container--> 
  
      <div class="slideshow">  
    <ul class="slideshow">
          <li class="show"><img width="680" height="400" src="images/home_6.jpg" alt="&quot;Une délice d'Ardéche &quot;" /></li>
          <li><img width="680" height="400" src="images/home_1.jpg" alt="&quot;Une culture sur des bûches de chêne&quot;" /></li>
          <li><img width="680" height="400" src="images/home_2.jpg" alt="&quot;Un produit de terroir très bon pour votre santé &quot;" /></li>
        </ul>   
    </div><!--close slideshow-->     
   
    <div id="content">
        <div class="content_item">
      <h1>Recettes</h1> 
        <p>Il faut nettoyer les champignons frais qu’au dernier moment avant emploi. Le mieux est d’essuyer le shiitake avec un linge humide ou de le brosser à l’aide d’une petite brosse.
        Les pieds étant souvent fibreux seront retirés.
        L’eau de trempage et les pieds de champignons pourront servir à la confection de bouillons, de soupes ou en eau de cuisson.</p>    
      <div class="content_container">
      <p><font color="grey">.</font></p>
        
        </div><!--close button_small-->
      </div><!--close content_container-->
          <div class="content_container">
        <p>Chez certaines personnes, la consommation de shiitake cru ou cuit de façon insuffisante pourrait causer une réaction allergique.</p>          
        
        </div><!--close button_small-->     
      </div><!--close content_container-->        
    </div><!--close content_item-->
      </div><!--close content-->   
  </div><!--close site_content--> 
    
  
 
  </div><!--close main-->
  
  <div id="footer">
    <a href="http://nu.nl"> © Paul van Bommel 2015</a>   </a>
  </div><!--close footer-->  
  
</body>
</html>